:root {
    --primary-color: #151515;
    --secondary-color: #000000;
    --text-color: #A2A3A2;
    --header-height: 70px;
    --logo-height: 45px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

header {
    height: var(--header-height);
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}

header img {
    height: var(--logo-height);
    padding-left: 1rem;
}

main {
    background-color: var(--primary-color);
    height: calc(100vh - var(--header-height));
    overflow-y: scroll;
}

img {
    max-width: 100%;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 5 - 2rem);
    margin: 2rem 1rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.card:hover {
    background-color: #212121;
}

h2 {
    text-transform: uppercase;
    color: white;
}